<nav class="navbar">
    <h1 class="navbar__logo">YASSINE</h1>
    <div class="burger__menu collapse ">
      <i class="fa-solid fa-bars fa-2x"></i>
    </div>
    <div class="navbar__info">
      <ul class="list collapsed">
        <li class="navbar__item">Home </li>
        <li class="navbar__item">Postfolio</li>
        <li class="navbar__item">Services</li>
        <li class="navbar__item">Testimonials</li>
        <li class="navbar__item">Contact</li>
      </ul>
    </div>
    <button href="#" class="btn btn__primary">Click me</button>
  </nav>