<div class="card testimonial__card">
    <div class="author__profile">
      <img
        src="https://randomuser.me/api/portraits/men/78.jpg"
        alt="A user"
        class="author__avatar"
      />
      <span class="name_-and-occupation">
        <h3 class="author__name">John Doe</h3>
        <h3 class="author__occupation">CEO</h3>
      </span>
    </div>
    <p class="author__comment">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
      impedit perspiciatis delectus assumenda eveniet voluptates.
    </p>
    >
  </div>